*{
  font-family: "Poppins", sans-serif;
}
html {
    overflow-y: scroll;
}
.hind-siliguri-font{
  font-family: "Hind Siliguri", sans-serif;
}
.hero-btn:hover{
  color: #422AD5;
  background-color: transparent;
}
.card-btn:hover{
  background-color: #C6BDBD;
}
.active{
  background-color: #422AD5;
  color: white;
}
@import "tailwindcss"